OIC_INTEGRATIONS/SR_SCHEDULEDDISPATC_01.00.0000/icspackage/project/SR_SCHEDULEDDISPATC_01.00.0000/resources/scheduledOrc/BpelPull.xsd

<!--
Copyright (c) 2020, Oracle and/or its affiliates.
Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
-->
<xsd:schema targetNamespace="http://xmlns.oracle.com/ics/scheduler/pull" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/ics/scheduler/pull" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bpelctx="http://xmlns.oracle.com/ics/scheduler/bpelcontext">  <xsd:import namespace="http://xmlns.oracle.com/ics/scheduler/bpelcontext" schemaLocation="BpelContext.xsd"/>  <xsd:element name="BpelPullRequest">    <xsd:complexType>      <xsd:sequence>        <xsd:element maxOccurs="1" minOccurs="0" name="maxItems" type="xsd:int"/>        <xsd:element maxOccurs="1" minOccurs="0" name="position" type="xsd:string"/>        <xsd:element name="pullContext" type="xsd:string"/>        <xsd:element ref="bpelctx:BpelContext"/>        <xsd:element maxOccurs="1" minOccurs="0" name="bindParameters" type="ParameterList"/>      </xsd:sequence>    </xsd:complexType>  </xsd:element>  <xsd:element name="BpelPullResponse">    <xsd:complexType>      <xsd:sequence>        <xsd:element name="ItemCount" type="xsd:int"/>        <xsd:element name="xpathToItem" type="xsd:string"/>        <xsd:element name="xpathToPosition" type="xsd:string"/>        <xsd:element name="xpathToPullContext" type="xsd:string"/>        <xsd:element ref="bpelctx:BpelContext"/>        <xsd:element name="Payload" type="xsd:anyType" minOccurs="0" maxOccurs="1"/>      </xsd:sequence>    </xsd:complexType>  </xsd:element>  <xsd:complexType name="ParameterList">    <xsd:sequence>      <xsd:element name="Parameter" type="ParameterType" minOccurs="0" maxOccurs="unbounded"/>    </xsd:sequence>  </xsd:complexType>  <xsd:complexType name="ParameterType">    <xsd:sequence>      <xsd:element name="name" type="xsd:string"/>      <xsd:element name="value" type="xsd:string"/>    </xsd:sequence>  </xsd:complexType></xsd:schema>