OIC_INTEGRATIONS/SR_REQUESTPER_ATP_01.00.0000/icspackage/project/SR_REQUESTPER_ATP_01.00.0000/resources/application_15/inbound_16/resourcegroup_17/Persist_ATP_REQUEST.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<!--
Copyright © 2020, Oracle and/or its affiliates. All rights reserved.
Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
-->
<xs:schema targetNamespace="http://xmlns.oracle.com/cloud/adapter/atpdatabase/Persist_ATP_REQUEST/types" xmlns="http://xmlns.oracle.com/cloud/adapter/atpdatabase/Persist_ATP_REQUEST/types" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">   <xs:element name="PayloadParkingLotTabCollection" type="PayloadParkingLotTabCollection"/>   <xs:complexType name="PayloadParkingLotTabCollection">      <xs:sequence>         <xs:element name="PayloadParkingLotTab" type="PayloadParkingLotTab" minOccurs="0" maxOccurs="unbounded"/>      </xs:sequence>   </xs:complexType>   <xs:complexType name="PayloadParkingLotTab">      <xs:sequence>         <xs:element name="id" type="xs:decimal"/>         <xs:element name="payload" type="string10000" minOccurs="0" nillable="true"/>         <xs:element name="status" type="string20" minOccurs="0" nillable="true"/>         <xs:element name="error" type="string2000" minOccurs="0" nillable="true"/>      </xs:sequence>   </xs:complexType>   <xs:simpleType name="string10000">      <xs:restriction base="xs:string">         <xs:maxLength value="10000"/>      </xs:restriction>   </xs:simpleType>   <xs:simpleType name="string20">      <xs:restriction base="xs:string">         <xs:maxLength value="20"/>      </xs:restriction>   </xs:simpleType>   <xs:simpleType name="string2000">      <xs:restriction base="xs:string">         <xs:maxLength value="2000"/>      </xs:restriction>   </xs:simpleType></xs:schema>