OIC_INTEGRATIONS/SR_SCHEDULEDDISPATC_01.00.0000/icspackage/project/SR_SCHEDULEDDISPATC_01.00.0000/resources/application_17/inbound_18/resourcegroup_19/GetCreationRequestsFromATP_REQUEST.xsd

<?xml version = '1.0' encoding = 'UTF-8'?><xs:schema targetNamespace="http://xmlns.oracle.com/cloud/adapter/atpdatabase/GetCreationRequestsFromATP_REQUEST/types" xmlns="http://xmlns.oracle.com/cloud/adapter/atpdatabase/GetCreationRequestsFromATP_REQUEST/types" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">   <xs:element name="GetCreationRequestsFromATPInput" type="GetCreationRequestsFromATPInput"/>   <xs:complexType name="GetCreationRequestsFromATPInput">      <xs:sequence>         <xs:element name="ROWNUM" type="xs:string" nillable="true"/>      </xs:sequence>   </xs:complexType>   <xs:element name="GetCreationRequestsFromATPOutputCollection" type="GetCreationRequestsFromATPOutputCollection"/>   <xs:complexType name="GetCreationRequestsFromATPOutputCollection">      <xs:sequence>         <xs:element name="GetCreationRequestsFromATPOutput" type="GetCreationRequestsFromATPOutput" minOccurs="0" maxOccurs="unbounded"/>      </xs:sequence>   </xs:complexType>   <xs:complexType name="GetCreationRequestsFromATPOutput">      <xs:sequence>         <xs:element name="id" type="xs:decimal" nillable="true"/>         <xs:element name="payload" type="xs:string" nillable="true"/>         <xs:element name="status" type="xs:string" nillable="true"/>         <xs:element name="error" type="xs:string" nillable="true"/>      </xs:sequence>   </xs:complexType></xs:schema>